{% extends "seam/base.html" %}
{% load i18n %}
{% load utils %}

{% block content %}
  <div class="mt-2 d-flex flex-column flex-md-row justify-content-end gap-1">
    {% if admin or attendee_can_edit %}
      <div>
        <a href="{% url 'attendance_edit' attendance=attendance.generate_access_id %}"
           class="btn btn-outline-primary">{% trans "Edit Registration" %}</a>
      </div>
    {% endif %}
    {# We show the cancel button only for the attendee, organizers have the form below to edit the status. #}
    {% if not admin and attendee_can_edit %}
      {% with modal_id="cancelModal" object_id=attendance.generate_access_id view="attendance_detail" %}
        {# djlint: off #}
        {% with form_fields='<input type="hidden" name="status" value="cancelled">' %}
			{% trans "Cancel registration" as button_label %}
			<div>{% include "seam/snippets/delete_confirm.html" %}</div>
	    {% endwith %}
        {# djlint: on #}
      {% endwith %}
    {% endif %}
    {% if admin %}
      {% with view="attendance_delete" %}
        <div>{% include "seam/snippets/delete_confirm.html" %}</div>
      {% endwith %}
      <div>
        <a class="btn btn-outline-secondary"
           href="{% url "event_organization" pk=attendance.event.pk %}">{% trans "Event Administration" %}</a>
      </div>
    {% endif %}
    <div>
      <a class="btn btn-outline-secondary"
         href="{% url "event_detail" pk=attendance.event.pk %}">{% trans "Back to event" %}</a>
    </div>
  </div>
  <h1>{% trans "Attendance detail" %}</h1>
  <h4>
    {% trans "Event:" %} {{ attendance.event.title }} <small>({{ attendance.event.start|date }} - {{ attendance.event.end|date }})</small>
  </h4>
  {% if not attendance.email_verified %}
    <div class="alert alert-danger mt-2" role="alert">
      <p>{% trans "The email address is currently not verified." %}</p>
      {% if admin %}
        <hr>
        <p>
          {% blocktrans %}
              A verified email address is required in order to further process the attendance. The attendant should've received an email with a confirmation link. If you verified that this is a genuine registration the email can confirmed with the following link:
            {% endblocktrans %}
        </p>
        <span class="font-monospace text-break">{{ request.scheme }}://{{ request.get_host }}{% url "attendance_confirm" attendance=attendance.generate_access_id %}</span>
      {% endif %}
    </div>
  {% endif %}

  {% if admin %}
    <div class="card mt-2">
      <div class="card-header fw-bold">{% trans "Edit" %}</div>
      <div class="card-body">
        <form method="post">
          <fieldset {% if not attendance.email_verified %}disabled{% endif %}>
            {% csrf_token %}
            <div class="row">
              <div class="col-md">{{ form.status.as_field_group }}</div>
            </div>
            <div class="row">
              <div class="col-md">{{ form.start.as_field_group }}</div>
              <div class="col-md">{{ form.end.as_field_group }}</div>
            </div>
            <div class="d-flex flex-column flex-md-row gap-1 my-2 justify-content-end">
              {# Forwards user to the next newly created attendance of the event. #}
              {# This button is disabled if there are no more attendances this can apply to. #}
              {% if not has_next_new %}
                <span class="d-inline-block" tabindex="0" data-bs-toggle="popover" data-bs-placement="top" data-bs-trigger="hover focus" data-bs-content="{% trans "There aren't any newly created attendances for this event." %}">
                  <button class="btn btn-outline-secondary w-100 {% if not has_next_new %}disabled{% endif %}">
                    {% trans "Submit and edit next" %}
                  </button>
                </span>
              {% else %}

                <input class="btn btn-outline-secondary {% if not has_next_new %}disabled{% endif %}"
                       type="submit"
                       formaction="?next=true"
                       value="{% trans "Submit and edit next" %}">
              {% endif %}

              <button class="btn btn-outline-primary">{% trans "Submit" %}</button>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  {% endif %}

  <div class="card mt-2">
    <div class="card-header fw-bold">{% trans "Details" %}</div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-sm">
          <tbody>
            <tr>
              <td>{% trans "Status" %}</td>
              <td>{% include "seam/snippets/status.html" %}</td>
            </tr>
            <tr>
              <td>{% trans "Name" %}</td>
              <td>
                {{ attendance.first_name }} {{ attendance.last_name }}
                {% if attendance.pronoun %}({{ attendance.pronoun }}){% endif %}

              </td>
            </tr>
            <tr>
              <td>{% trans "Email address" %}</td>
              <td>{{ attendance.email_address }}</td>
            </tr>
            <tr>
              <td>{% trans "Phone number" %}</td>
              <td>{{ attendance.phone_number|default:'-' }}</td>
            </tr>
            <tr>
              <td>{% trans "Age" %}</td>
              <td>{{ attendance.age|default:'-' }}</td>
            </tr>
            <tr>
              <td>{% trans "Place" %}</td>
              <td>{{ attendance.city|default:'-' }}</td>
            </tr>
            <tr>
              <td>{% trans "Food Intolerances" %}</td>
              <td>{{ attendance.food_intolerances|default:'-' }}</td>
            </tr>
            <tr>
              <td>{% trans "Notes" %}</td>
              <td>{{ attendance.notes|default:'-' }}</td>
            </tr>
            <tr>
              <td>{% trans "Shares contact information" %}</td>
              <td>{{ attendance.share_contact_information|checked }}</td>
            </tr>
            {% if attendance.event.custom_attendance_dates %}

              <tr>
                <td>{% trans "Arrival date" %}</td>
                <td>{{ attendance.start|default:attendance.event.start|datetify }}</td>
              </tr>
              <tr>
                <td>{% trans "Depature date" %}</td>
                <td>{{ attendance.end|default:attendance.event.end|datetify }}</td>
              </tr>
            {% endif %}

            <tr>
              <td>{% trans "Created at" %}</td>
              <td>{{ attendance.created_at }}</td>
            </tr>
            <tr>
              <td>{% trans "Updated at" %}</td>
              <td>{{ attendance.updated_at }}</td>
            </tr>
            {% for label, value in attendance.get_custom_fields_human_readable %}

              <tr {% if forloop.first %}class="table-group-divider border-light-subtle"{% endif %}>
                <td>{{ label }}</td>
                <td>{{ value|default:"-" }}</td>
              </tr>
            {% endfor %}

          </tbody>
        </table>
      </div>
    </div>
  </div>
  {% if attendance.share_contact_information %}

    <div class="card mt-2">
      <div class="card-header fw-bold">{% trans "Contact sharing" %}</div>
      <div class="card-body">
        {% if shared_attendances %}

          <div class="alert alert-secondary" role="alert">
            <h6 class="alert-heading">
              <i class="bi bi-info-circle me-2"></i>{% trans "A note about privacy..." %}
            </h6>
            <hr>
            {% blocktrans %} Even if people chose to share their contact information, please respect their privacy and don't share the given information with others. Pay attention on how you treat addresses in your emails. {% endblocktrans %}
          </div>

          <table class="table">
            <thead>
              <tr>
                <th>{% trans "Name" %}</th>
                <th>{% trans "City" %}</th>
                {% if attendance.event.custom_attendance_dates %}
                  <th>{% trans "Arrival" %}</th>
                  <th>{% trans "Depature" %}</th>
                {% endif %}
                <th>{% trans "Email address" %}</th>
              </tr>
            </thead>
            <tbody>
              {% for shared in shared_attendances %}
                <tr>
                  <td>
                    {{ shared.first_name }} {{ shared.last_name }}
                    {% if shared.pronoun %}({{ shared.pronoun }}){% endif %}
                  </td>
                  <td>{{ shared.city }}</td>
                  {% if attendance.event.custom_attendance_dates %}
                    <td>{{ shared.start|default:attendance.event.start|datetify }}</td>
                    <td>{{ shared.end|default:attendance.event.start|datetify }}</td>
                  {% endif %}
                  <td>
                    <a href="mailto:{{ shared.email_address }}">{{ shared.email_address }}</a>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        {% elif attendance.status != "accepted" %}
          {% trans "Contact information of other attendees are available after your registration has been accepted." %}
        {% else %}
          {% trans "There are no other attendees that share their contact information." %}
        {% endif %}
      </div>
    </div>
  {% endif %}
{% endblock content %}
