{% extends "seam/base.html" %}
{% load i18n %}
{% load static %}
{% load utils %}

{% block content %}
  <div class="row mt-2">
    <div class="col-sm-6 oder-sm-last d-flex justify-content-end gap-1">
      <div>
        {% if is_edit %}
          <a class="btn btn-outline-secondary"
             href="{{ attendance.get_absolute_url }}">{% trans "Back to registration details" %}</a>
        {% else %}
          <a class="btn btn-outline-secondary"
             href="{% url "event_detail" pk=event.pk %}">{% trans "Back to event" %}</a>
        {% endif %}
      </div>
    </div>
    <div class="col-sm-6 order-sm-first">
      <h1>
        {% if is_edit %}
          {% trans "Edit Registration" %}
        {% else %}
          {% trans "Registration" %}
        {% endif %}
      </h1>
    </div>
  </div>

  <h4>
    {% trans "Event:" %}
    {% if is_edit %}
      {{ attendance.event.title }} <small>({{ attendance.event.start|date }} - {{ attendance.event.end|date }})</small>
    {% else %}
      {{ event.title }} <small>({{ event.start|date }} - {{ event.end|date }})</small>
    {% endif %}
  </h4>
  {% if event.waitlist_warning %}
    <div class="alert alert-warning">
      {% trans "This event is already full but you can still register for the waitlist." %}
    </div>
  {% endif %}
  <form method="post" novalidate>
    {% if form.non_field_errors %}
      <div class="alert alert-danger" role="alert">{{ form.non_field_errors }}</div>
    {% endif %}
    {% csrf_token %}
    <div class="row">
      <div class="col-md">{{ form.first_name.as_field_group }}</div>
      <div class="col-md">{{ form.last_name.as_field_group }}</div>
      <div class="col-md">{{ form.pronoun.as_field_group }}</div>
    </div>
    <div class="row">
      <div class="col-md">{{ form.email_address.as_field_group }}</div>
      <div class="col-md">{{ form.age.as_field_group }}</div>
    </div>
    <div class="row">
      <div class="col-md">{{ form.phone_number.as_field_group }}</div>
      <div class="col-md">{{ form.city.as_field_group }}</div>
    </div>
    {% if form.custom_fields %}
      {% for field in form.custom_fields %}
        <div class="row">
          <div class="col-md">
            {% with form|get:field as f %}{{ f.as_field_group }}{% endwith %}
          </div>
        </div>
      {% endfor %}
    {% endif %}
    <div class="row">
      <div class="col-md">{{ form.food_intolerances.as_field_group }}</div>
    </div>
    <div class="row">
      <div class="col-md">{{ form.notes.as_field_group }}</div>
    </div>
    {% if form.custom_dates %}
      <hr>
      <h6>{% trans "Arrival/depature dates" %}</h6>
      {% for radio in form.custom_dates %}<div class="form-check form-check-inline">{{ radio }}</div>{% endfor %}
      <div class="row collapse {% if form.custom_dates.value == "yes" %}show{% endif %}"
           id="customDateInputs">
        <div class="col-md">{{ form.start.as_field_group }}</div>
        <div class="col-md">{{ form.end.as_field_group }}</div>
      </div>

      <noscript>
        {# Show custom start/end for users that disabled javascript. The radio is shown as well, but who cares #}
        <div class="row">
          <div class="col-md">{{ form.start.as_field_group }}</div>
          <div class="col-md">{{ form.end.as_field_group }}</div>
        </div>
      </noscript>
    {% endif %}
    <hr>
    <div class="row">
      <div class="col-md">{{ form.share_contact_information.as_field_group }}</div>
    </div>
    <div class="d-flex justify-content-end">
      <button class="btn btn-outline-primary" type="submit">
        {% if is_edit %}
          {% trans "Save Changes" %}
        {% else %}
          {% trans "Submit" %}
        {% endif %}
      </button>
    </div>
  </form>
{% endblock content %}

{% block scripts %}
  {% if form.custom_dates %}
    <script src="{% static "attendance.js" %}"></script>
  {% endif %}
{% endblock scripts %}
