{% extends "seam/base.html" %}
{% load i18n %}
{% load static %}

{% block content %}
  <h1>{% trans "Manage your registrations" %}</h1>

  <div class="alert alert-secondary" role="alert">
    {% blocktrans %}
      If you lost one of the links to manage your registrations you can request them here by entering your email address. <strong>You will only get an email if there are attendances with a verified address.</strong>
      {% endblocktrans %}
  </div>
  <form method="post" novalidate>
    {% if form.non_field_errors %}
      <div class="alert alert-danger" role="alert">{{ form.non_field_errors }}</div>
    {% endif %}
    {% csrf_token %}
    <div class="row mb-2">
      <div class="col-md">{{ form.email_address.as_field_group }}</div>
    </div>
    <div class="d-flex justify-content-end">
      <button class="btn btn-outline-primary" type="submit">{% trans "Submit" %}</button>
    </div>
  </form>
{% endblock content %}
