{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="{{ get_current_language }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static "main.css" %}">
    {% block header %}
    {% endblock header %}
    <title>
      {% block title %}
        {{ NAVBAR_DESCRIPTION }}
      {% endblock title %}
    </title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url "home" %}">{{ NAVBAR_DESCRIPTION }}</a>
        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbar"
                aria-controls="navbar"
                aria-expanded="false"
                aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="{% url "attendance_find" %}">{% trans "Manage your registrations" %}</a>
            </li>
            {% if request.user.is_staff or request.user.is_superuser %}
              <li class="nav-item">
                <a class="nav-link" href="{% url "event_create" %}">{% trans "Create event" %}</a>
              </li>
            {% endif %}
            {% if request.user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link" href="{% url "profile" %}">{% trans "Profile" %}</a>
              </li>
              <li class="nav-item">
                <form action="{% url "logout" %}?next=/" method="post">
                  {% csrf_token %}
                  <button class="nav-link" type="submit">{% trans "Logout" %}</button>
                </form>
              </li>
            {% else %}
              <li class="nav-item">
                <a class="nav-link" href="{% url "login" %}?next=/">{% trans "Login" %}</a>
              </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>

    <div class="container-md min-vh-100 mr-auto">
      {% include "seam/snippets/banner.html" %}

      {% block content %}
      {% endblock content %}
    </div>

    <div class="container mr-auto">
      <footer class="row mx-2 mx-md-0 border-top mt-4 pt-2 mb-2 text-muted">
        <p class="col-5 order-first order-md-0 col-md-4 pt-2 d-flex justify-content-start">{{ FOOTER_DESCRIPTION }}</p>

        <a class="col-12 col-md-4 pt-2 d-flex justify-content-center">
          {# We expect a b/w logo. On dark themes this just gets inverted to white. #}
          <img class="opacity-50 image-invert"
               height="50"
               width="50"
               src="{% static LOGO %}">
        </a>

        <ul class="col-7 order-first order-md-0 col-md-4 nav justify-content-end">
          {% for link in FOOTER_LINKS %}
            <li class="nav-item">
              <a href="{{ link.1 }}" class="nav-link px-2 text-muted">{{ link.0 }}</a>
            </li>
          {% endfor %}
        </ul>
      </footer>
    </div>

    <script src="{% static "main.js" %}"></script>
    {% block scripts %}
    {% endblock scripts %}
  </body>
</html>
