{% extends "seam/base.html" %}
{% load i18n %}
{% load utils %}

{% block header %}
  <meta property="og:type" content="website" />
  <meta property="og:site_name" content="{{ NAVBAR_DESCRIPTION }}" />
  <meta property="og:locale" content="{{ LOCALE }}" />

  <meta property="og:title" content="{{ event.title }}" />
  <meta property="og:url" content="{{ request.build_absolute_uri }}" />
  <meta property="og:description"
        content="{{ event.text_description|truncatechars:200 }}" />
  {% if event.images.count > 0 %}
    <meta property="og:image"
          content="{{ request.build_absolute_uri|cut:request.get_full_path }}{{ event.images.first.preview_url }}" />
  {% endif %}
{% endblock header %}

{% block title %}
  {{ event.title }}
{% endblock title %}

{% block content %}
  <h1 class="my-2">
    {{ event.title }}
    <small class="fs-4 text-muted">({{ event.start|date }} - {{ event.end|date }})</small>
    {% include "seam/snippets/event_visibility.html" %}
  </h1>

  <div class="row g-2">
    <div class="col-xl-8">
      {% if event.images.count > 0 %}
        <div id="eventCarousel" class="carousel slide">
          <div class="carousel-inner border border-2 rounded">
            {% with class="img-responsive d-block w-100 object-fit-cover event-image" %}
              {% for image in event.images.all %}
                <div class="carousel-item{% if forloop.first %} active{% endif %}">{% include "seam/snippets/image.html" %}</div>
              {% endfor %}
            {% endwith %}
          </div>
          {% if event.images.count > 1 %}
            <button class="carousel-control-prev"
                    type="button"
                    data-bs-target="#eventCarousel"
                    data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">{% trans "Previous" %}</span>
            </button>
            <button class="carousel-control-next"
                    type="button"
                    data-bs-target="#eventCarousel"
                    data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">{% trans "Next" %}</span>
            </button>
          {% endif %}
        </div>
      {% endif %}
      <div class="mt-2">
        {% if event.enable_markdown %}
          {{ markdown|safe }}
        {% else %}
          {{ event.description|linebreaks }}
        {% endif %}
      </div>
    </div>
    <div class="col-xl-4">
      <div class="card">
        <div class="card-header fw-bold">{% trans "Details" %}</div>
        <div class="card-body d-flex flex-column justify-content-between">
          <table class="table table-sm">
            <tbody>
              <tr>
                <td>{% trans "Start" %}</td>
                <td>{{ event.start|datetify }}</td>
              </tr>
              <tr>
                <td>{% trans "End" %}</td>
                <td>{{ event.end|datetify }}</td>
              </tr>
              {% if event.max_participants %}
                <tr>
                  <td>{% trans "Persons" %}</td>
                  {# djlint: off #}
                <td>{% if event.show_attendance_count %}{{ event.get_attendance_count }}/{% endif %}{{ event.max_participants }}</td>
                  {# djlint: on #}
                </tr>
              {% endif %}
              <tr>
                <td>{% trans "Expected price" %}</td>
                <td>{{ event.price }}</td>
              </tr>
              <tr>
                <td>{% trans "Place" %}</td>
                <td>{{ event.place }}</td>
              </tr>
              {% if event.organizers.exists and not event.hide_organizer_names %}
                <tr>
                  <td>{% trans "Contact persons" %}</td>
                  <td>
                    {% for organizer in event.organizers.all %}
                      {# djlint:off #}
                  {{ organizer.first_name }}{% if not forloop.last %},&nbsp;{% endif %}
                      {# djlint:on #}
                    {% endfor %}
                  </td>
                </tr>
              {% endif %}
              {# Contact information are only shown for upcoming events to prevent email address harvesting. #}
              {% if event.contact_email and not event.has_ended %}
                <tr>
                  <td>{% trans "Contact address" %}</td>
                  <td>
                    <small><a class="text-break" href="mailto:{{ event.contact_email }}">{{ event.contact_email }}</a></small>
                  </td>
                </tr>
              {% endif %}
              {% if event.registration_deadline %}
                <tr>
                  <td>{% trans "Registration deadline" %}</td>
                  <td>{{ event.registration_deadline }}</td>
                </tr>
              {% endif %}
            </tbody>
          </table>

          <div class="d-flex flex-column gap-2">
            {% if not event.static_event and not event.has_ended %}
              <a class="btn btn-outline-primary position-relative {% if not event.can_register %}disabled{% endif %}"
                 href="{% url 'event_attend' pk=event.pk %}">
                {% trans "Register now" %}
                <div class="position-absolute top-0 start-100 translate-middle pe-3">
                  <span class="badge rounded-pill bg-light border border-dark-subtle fs-6">
                    {% include "seam/snippets/registration_status.html" %}
                  </span>
                </div>
              </a>
            {% endif %}
            {% if admin %}
              <a class="btn btn-outline-primary"
                 href="{% url 'event_organization' pk=event.pk %}">{% trans "Event Administration" %}</a>
            {% endif %}
          </div>
        </div>
      </div>

      <div class="card mt-2">
        <div class="card-header fw-bold">
          {% trans "Calendar" %}<a class="float-end"
   href="{% url "event_calendar" pk=event.pk %}"
   title="{% trans "Download calendar entry." %}"><i class="bi bi-download float-end"></i></a>
        </div>
        <div class="card-body pt-1">
          <div id="calendar"
               class="carousel slide calendar w-100 h-100"
               data-bs-wrap="false">
            <div class="carousel-inner h-100">
              {% for month in calendar %}
                <div class="carousel-item h-100 {{ forloop.first|yesno:"active," }}">{{ month|safe }}</div>
              {% endfor %}
            </div>
            <button class="carousel-control-prev"
                    type="button"
                    data-bs-target="#calendar"
                    data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">{% trans "Previous" %}</span>
            </button>
            <button class="carousel-control-next"
                    type="button"
                    data-bs-target="#calendar"
                    data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">{% trans "Next" %}</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
