{% extends "seam/base.html" %}
{% load i18n %}
{% load static %}
{% load utils %}

{% block header %}
  <link rel="stylesheet" href="{% static "orga/table.css" %}">
{% endblock header %}
{% block content %}
  <div class="mt-2 d-flex justify-content-end gap-1">
    {% with view="event_delete" %}
      {% translate "You're about to delete this event with all attendances." as warning %}
      <div>{% include "seam/snippets/delete_confirm.html" %}</div>
    {% endwith %}
    <div>
      <a class="btn btn-outline-secondary"
         href="{% url "event_update" pk=event.pk %}">{% trans "Edit event" %}</a>
    </div>
    <div>
      <a class="btn btn-outline-secondary"
         href="{% url "event_detail" pk=event.pk %}">{% trans "Back to event" %}</a>
    </div>
  </div>

  <h1>{% trans "Event detail" %}</h1>

  <h4>
    {% trans "Event:" %} {{ event.title }} <small>({{ event.start|date }} - {{ event.end|date }})</small>
  </h4>

  {% if event.static_event %}
    <div class="alert alert-light mt-2" role="alert">
      {% trans "This event is a static event. It cannot be used to manage registrations." %}
    </div>
  {% else %}
    <div class="row">
      <div class="col-12 col-md-6 col-xxl-3 mt-2 mt-xxl-0">
        <div class="card h-100 overflow-hidden">
          <div class="card-header fw-bold">
            {% trans "Participant Detail" %}

            <div class="float-end">{% include "seam/snippets/registration_status.html" %}</div>
          </div>
          <div class="card-body p-0">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                {% trans "Participants:" %}<span class="fw-bold float-end">{{ emails.accepted|length }}/{{ event.max_participants }}</span>
              </li>
              <li class="list-group-item">
                {% trans "Freshly created (unverified):" %}<span class="fw-bold float-end">{{ new_verified_count }} ({{ new_unverified_count }})</span>
              </li>
              <li class="list-group-item">
                {% trans "Waitlist:" %}<span class="fw-bold float-end">{{ emails.waitlist|length }}</span>
              </li>
              <li class="list-group-item">
                {% trans "Cancelled:" %}<span class="fw-bold float-end">{{ cancelled_count|length }}</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-xxl-3 mt-2 mt-xxl-0">
        <div class="card h-100">
          <div class="card-header fw-bold">{% trans "Send email" %}</div>
          <div class="card-body d-flex flex-column gap-1">
            <a class="btn btn-outline-secondary {% if not emails.all %}disabled{% endif %}"
               href="mailto:{{ event.contact_email|default:request.user.email }}?bcc={{ emails.all|join:"," }}">{% trans "All attendances" %}</a>
            <a class="btn btn-outline-success {% if not emails.accepted %}disabled{% endif %}"
               href="mailto:{{ event.contact_email|default:request.user.email }}?bcc={{ emails.accepted|join:"," }}">{% trans "Accepted" %}</a>
            <a class="btn btn-outline-warning {% if not emails.waitlist %}disabled{% endif %}"
               href="mailto:{{ event.contact_email|default:request.user.email }}?bcc={{ emails.waitlist|join:"," }}">{% trans "Waitlist" %}</a>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-xxl-3 mt-2 mt-xxl-0">
        <div class="card h-100">
          <div class="card-header fw-bold">{% trans "Data export" %}</div>
          <div class="card-body d-flex flex-column gap-1">{% include "seam/snippets/export_form.html" %}</div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-xxl-3 mt-2 mt-xxl-0">
        <div class="card h-100 overflow-hidden">
          <div class="card-header fw-bold">{% trans "Information" %}</div>
          <div class="card-body p-0">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                {% trans "Created at:" %}<span class="fw-bold float-end">{{ event.created_at|date:"SHORT_DATETIME_FORMAT" }}</span>
              </li>
              <li class="list-group-item">
                {% trans "Updated at:" %}<span class="fw-bold float-end">{{ event.updated_at|date:"SHORT_DATETIME_FORMAT" }}</span>
              </li>
              <li class="list-group-item">
                {% trans "Past event:" %}<span class="fw-bold float-end">{{ event.has_ended|checked }}</span>
              </li>
              <li class="list-group-item">
                {% trans "Draft:" %}<span class="fw-bold float-end">{{ event.draft|checked }}</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="card my-2">
      <div class="card-header fw-bold">{% trans "Attendances" %}</div>
      <div class="card-body">
        <table id="attendanceTable" class="table table-bordered" width="100%">
        </table>
      </div>
    </div>

    {% if event.custom_attendance_dates %}
      <div class="card my-2">
        <div class="card-header fw-bold">{% trans "Attendance statistics" %}</div>
        <div class="card-body pb-5" style="height: 500px;">
          <canvas id="attendanceChart"
                  aria-label="{% trans "Barchart with attendees per day." %}"
                  role="img"></canvas>
          <div class="text-center">
            <span><strong>{% trans "Cumulative attendance days: " %}</strong>{{ cumulative_attendance_days }}</span>
          </div>
        </div>
      </div>
    {% endif %}
  {% endif %}
{% endblock content %}

{% block scripts %}
  {# attendance table #}
  {{ attendances|json_script:"attendance-data" }}
  {{ column_mapping|json_script:"column-naming-data" }}
  {{ custom_columns|json_script:"custom-columns-data" }}
  {{ status_names|json_script:"status-naming-data" }}
  <script src="{% static "orga/table.js" %}"></script>

  {% if event.custom_attendance_dates %}
    {{ attendance_dates|json_script:"attendance-dates" }}
    <script src="{% static "orga/dates.js" %}"></script>
  {% endif %}
{% endblock scripts %}
