{% extends "seam/base.html" %}
{% load i18n %}
{% load static %}

{% block header %}
  {{ form.media }}
{% endblock header %}

{% block content %}
  {% if object %}
    <a class="btn btn-outline-secondary mt-2 mx-2 float-end"
       href="{% url "event_organization" pk=object.pk %}">{% trans "Event Administration" %}</a>
    <h1>{% trans "Update event" %}</h1>
  {% else %}
    <h1>{% trans "Create event" %}</h1>
  {% endif %}
  <form method="post" novalidate enctype="multipart/form-data" id="editForm">
    {% if form.non_field_errors %}
      <div class="alert alert-danger" role="alert">{{ form.non_field_errors }}</div>
    {% endif %}
    {% csrf_token %}
    <div class="d-flex flex-column gap-2">
      <div class="row">
        <div class="col-md">{{ form.title.as_field_group }}</div>
        <div class="col-md">{{ form.place.as_field_group }}</div>
      </div>
      <div class="row">
        <div class="col-md">{{ form.start.as_field_group }}</div>
        <div class="col-md">{{ form.end.as_field_group }}</div>
      </div>
      <div class="row">
        <div class="col-md">{{ form.price.as_field_group }}</div>
        <div class="col-md">{{ form.max_participants.as_field_group }}</div>
      </div>
      <div class="row">
        <div class="col-md">{{ form.description.as_field_group }}</div>
      </div>
      <div class="row">
        <div class="col-md">{{ form.contact_email.as_field_group }}</div>
        <div class="col-md">{{ form.registration_deadline.as_field_group }}</div>
      </div>
      <div class="row mt-2">
        <div class="col-md">{{ form.images.as_field_group }}</div>
      </div>
      <div class="row">
        <div class="col">{{ form.organizers.as_field_group }}</div>
      </div>
      <hr>
      <h6>{% trans "Registration options" %}</h6>
      <div class="row">
        <div class="col-md">{{ form.static_event.as_field_group }}</div>
        <div class="col-md">{{ form.open_registration.as_field_group }}</div>
        <div class="col-md">{{ form.waitlist_registration.as_field_group }}</div>
        <div class="col-md">{{ form.auto_accept_registrations.as_field_group }}</div>
      </div>
      <hr>
      <h6>{% trans "Display options" %}</h6>
      <div class="row">
        <div class="col-md">{{ form.show_attendance_count.as_field_group }}</div>
        <div class="col-md">{{ form.hide_organizer_names.as_field_group }}</div>
        <div class="col-md">
          {{ form.enable_markdown.as_field_group }}
          <small class="ms-4">
            <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet">{% trans "See: Markdown" %}</a>
          </small>
        </div>
      </div>
      <hr>
      <h6>{% trans "Attendance options" %}</h6>
      <div class="row">
        <div class="col-md">{{ form.custom_attendance_dates.as_field_group }}</div>
        <div class="col-md">{{ form.require_age.as_field_group }}</div>
      </div>
      <hr>
      <h6>{% trans "Visibility" %}</h6>
      <div class="row">
        <div class="col-md">{{ form.draft.as_field_group }}</div>
        <div class="col-md">{{ form.unlisted.as_field_group }}</div>
      </div>
      <h6>{% trans "Custom fields" %}</h6>
      <div class="row">
        <div class="col-md">
          <fieldset>
            {% if form.custom_fields_schema.errors %}
              {# Bootstrap doing bootstrap things. #}
              <div class="is-invalid"></div>
              <div class="invalid-feedback">{{ form.custom_fields_schema.errors }}</div>
            {% endif %}
            <div id="editor" class="border rounded overflow-hidden"></div>
            {{ form.custom_fields_schema }}
          </fieldset>
        </div>
      </div>
      <div class="d-flex justify-content-end mt-2">
        <button class="btn btn-outline-primary" type="submit">{% trans "Submit" %}</button>
      </div>
    </div>
  </form>

  {% if not request.user.is_superuser %}
    {{ request.user.id|json_script:"user_id" }}
    <!-- Modal that warns about removing oneself from the organizer list. -->
    <div class="modal" tabindex="-1" id="organizerWarningModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">{% trans "You removed yourself from the organizer list!" %}</h5>
            <button type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p>{% trans "If you save the event without being an organizer you'll loose access to the event." %}</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">{% trans "Dismiss" %}</button>
          </div>
        </div>
      </div>
    </div>
  {% endif %}

{% endblock content %}

{% block scripts %}
  <script src="{% static "edit.js" %}"></script>
  <script src="{% static "custom_fields.js" %}"></script>
{% endblock scripts %}
