{% extends "seam/base.html" %}
{% load i18n %}
{% load utils %}
{% load static %}

{% block content %}
  <div class="d-flex justify-content-between mt-3 gap-1">
    <form autocomplete="off" method="get">
      <div class="d-flex gap-1 w-100">
        {{ form.display }}
        {# Submit is done via js or via button if js is disabled #}
        <noscript>
          <button type="submit" class="btn btn-outline-secondary">{% trans "Submit" %}</button>
        </noscript>
      </div>
    </form>
    <a class="btn btn-outline-secondary float-end"
       href="webcal://{{ request.get_host }}{% url "calendar" %}"
       title="{% trans "Subscribe to the calendar." %}"><i class="bi bi-box-arrow-up"></i></a>
  </div>
  {% if display == "cards" %}
    {% include "seam/index/cards.html" %}
  {% elif display == "table" %}
    {% include "seam/index/table.html" %}
  {% endif %}
  {% include "seam/snippets/pagination.html" %}
{% endblock content %}

{% block scripts %}
  <script src="{% static "index.js" %}"></script>
{% endblock scripts %}
