{% extends "seam/base.html" %}
{% load i18n %}

{% block content %}
  <h1>{% trans "Profile" %}</h1>
  <form method="post">
    {% csrf_token %}
    {{ form }}
    <button class="btn btn-outline-primary mt-2 float-end" type="submit">{% trans "Submit" %}</button>
  </form>
{% endblock content %}
