<input class="form-control{% if "aria-invalid" in widget.attrs %} is-invalid{% endif %}"
       type="{{ widget.type }}"
       name="{{ widget.name }}"
       {% include "django/forms/widgets/attrs.html" %}>
{% if widget.initial_text %}
  <span class="text-secondary"><i class="bi bi-info-circle me-2"></i>{{ widget.initial_text }}</span>
{% endif %}
