{% load i18n %}

{% if messages %}
  {% for message in messages %}
    <div class="alert {% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %} alert-danger {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %} alert-success {% else %} alert-secondary {% endif %} alert-dismissible fade show mt-2"
         role="alert"
         id="confirmAlert">

      {% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
        <h4 class="alert-heading">{% trans "Caution!" %}</h4>
      {% endif %}

      {{ message }}

      <button type="button"
              class="btn-close"
              data-bs-dismiss="alert"
              aria-label="Close"></button>
    </div>
  {% endfor %}
{% endif %}
