{% load i18n %}

{% if object %}
  <button type="button"
          class="btn btn-outline-danger"
          data-bs-toggle="modal"
          data-bs-target="#{{ modal_id|default:"deleteModal" }}">
    {% if button_label %}
      {{ button_label }}
    {% else %}
      {% trans "Delete" %}
    {% endif %}
  </button>

  <div class="modal fade"
       id="{{ modal_id|default:"deleteModal" }}"
       tabindex="-1"
       aria-labelledby="{{ modal_id|default:"deleteModal" }}Label"
       aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="{{ modal_id|default:"deleteModal" }}lLabel">{% trans "Confirmation required" %}</h5>
          <button type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="{% trans "Close" %}"></button>
        </div>
        <div class="modal-body">{{ warning|safe }} {% trans "Are you sure you want to continue?" %}</div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans "Close" %}</button>
          <form action="{% url view object_id|default:object.pk %}" method="post">
            {% csrf_token %}
            {{ form_fields|safe }}
            <button class="btn btn-danger">
              {% if button_label %}
                {{ button_label }}
              {% else %}
                {% trans "Delete" %}
              {% endif %}
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endif %}
