{% load i18n %}

{% if event.draft %}
  <span class="badge bg-secondary align-baseline" style="font-size: 8pt;">{% trans "Draft" %}</span>
{% endif %}
{% if event.unlisted %}
  <span class="badge bg-secondary align-baseline" style="font-size: 8pt;">{% trans "Unlisted" %}</span>
{% endif %}
