{% load i18n %}

<form class="d-flex flex-column gap-1"
      action="{% url "event_export" pk=event.pk %}">
  {{ form.grouping }}
  {{ form.file_format }}
  {{ form.choices }}
  <button class="btn btn-outline-primary" type="submit">{% trans "Export" %}</button>
</form>
