{% if image.processed %}
  <picture>
    {% for format in IMAGE_FORMATS %}
      {% if format != "jpeg" %}
        <source type="image/{{ format }}"
                sizes="100vw"
                srcset="{% for name, size in IMAGE_SIZES.items %}/media/resized/{{ image.pk }}_{{ name }}.{{ format }} {{ size }}w{% if not forloop.last %}, {% endif %}{% endfor %}">
      {% else %}
        <img alt="{{ event.title }}"
             src="/media/resized/{{ image.pk }}_org.jpeg"
             srcset="{% for name, size in IMAGE_SIZES.items %}/media/resized/{{ image.pk }}_{{ name }}.{{ format }} {{ size }}w{% if not forloop.last %}, {% endif %}{% endfor %}"
             sizes="100vw"
             loading="lazy"
             decoding="async"
             class="{{ class }}">
      {% endif %}
    {% endfor %}
  </picture>
{% else %}
  <img src="{{ image.image_file.url }}"
       class="{{ class }}"
       alt="{{ event.title }}">
{% endif %}
