{% load i18n %}

<div class="my-4 d-flex justify-content-center">
  <nav aria-label="{% trans "Event navigation" %}">
    <ul class="pagination">
      <li class="page-item">
        <a class="page-link {% if has_prev %}"{% else %}disabled" tabindex="-1"{% endif %}"
           href="?page={{ page|add:"-1" }}{% if display %}&display={{ display }}{% endif %}"
           title="{% trans "Previous" %}">
          <i class="bi bi-arrow-left"></i> {% trans "Previous" %}
        </a>
      </li>
      <li class="page-item">
        <a class="page-link" href="?page=0&display={{ display }}">{% trans "Home" %}</a>
      </li>
      <li class="page-item">
        <a class="page-link {% if has_next %}"{% else %}disabled" tabindex="-1"{% endif %}"
           href="?page={{ page|add:1 }}{% if display %}&display={{ display }}{% endif %}"
           title="{% trans "Next" %}">
          {% trans "Next" %} <i class="bi bi-arrow-right"></i>
        </a>
      </li>
    </ul>
  </nav>
</div>
