{% load i18n %}

{% if event.can_register %}
  {% if event.waitlist_warning %}
    <i class="bi bi-calendar-check text-warning"
       title="{% trans "The Event is probably full, but you can register for the waitlist." %}"></i>
  {% else %}
    <i class="bi bi-calendar-check text-success"
       title="{% trans "Registration is open!" %}"></i>
  {% endif %}
{% else %}
  <i class="bi bi-calendar-x text-danger"
     title="{% trans "Registration currently closed." %}"></i>
{% endif %}
