{% load i18n %}
{% if attendance.status == "created" %}
  <span class="badge bg-secondary">{{ attendance.get_status_display }}</span>
{% elif attendance.status == "accepted" %}
  <span class="badge bg-success">{{ attendance.get_status_display }}</span>
{% elif attendance.status == "waiting" %}
  <span class="badge bg-warning">{{ attendance.get_status_display }}</span>
{% elif attendance.status == "cancelled" %}
  <span class="badge bg-danger">{{ attendance.get_status_display }}</span>
{% else %}
  <span>{{ attendance.get_status_display }}</span>
{% endif %}
