$primary: #259350;

@import "~bootstrap/scss/bootstrap";

@import "~bootstrap-icons/font/bootstrap-icons.css";

/* Add a star to all labels of required form fields */
label:has(+ input:required):after,
label:has(+ textarea:required):after {
  content: " *";
  color: $danger;
}

/* Image helper for height. */
.event-image {
  height: 250px;

  @include media-breakpoint-up(md) {
    height: 500px;
  }
}

img.card-img-top {
  height: 300px;
}

/* Do some terrible things to gridjs if the dark theme is enabled. */
@media (prefers-color-scheme: dark) {
  .table-fix,
  .table-fix > * {
    background-color: transparent !important;
    color: var(--bs-body-color) !important;
    box-shadow: none !important;
  }

  .image-invert {
    filter: invert(100%);
  }
}

table.calendar {
  min-height: 325px;
  border-collapse: separate;
  border-spacing: 0 2px;
  text-align: center;
}

.calendar {
  .carousel-control-next,
  .carousel-control-prev {
    top: 0.25em;
    bottom: inherit;
    filter: invert(100%);
  }

  .month {
    text-align: center;
    height: 2.5em;
  }

  .calendar-highlighted {
    border: 1px solid var(--bs-primary);
    border-left-width: 0;
    border-right-width: 0;

    &.start {
      border-left-width: 1px;
    }

    &.end {
      border-right-width: 1px;
    }
  }
}

// Django css class for non_field_error ul
.errorlist {
  margin-bottom: 0;
}
