{% extends "seam/base.html" %}

{% load i18n %}

{% block content %}
  <div class="row d-flex justify-content-center">
    <div class="col-12 col-md-6 col-xl-4">
      <div class="card mx-auto mt-4">
        <div class="card-body">
          <h5 class="card-title">{% trans "Login" %}</h5>
          <form method="post">
            {% if form.non_field_errors %}
              <div class="alert alert-danger" role="alert">{{ form.non_field_errors }}</div>
            {% endif %}
            {% csrf_token %}
            <div class="d-flex flex-column gap-2">
              <div class="col">{{ form.username.as_field_group }}</div>
              <div class="col">{{ form.password.as_field_group }}</div>
              <div class="d-flex justify-content-end mt-2">
                <button class="btn btn-outline-primary" type="submit">{% trans "Submit" %}</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
