{% if field.field.widget.input_type == "checkbox" or field.field.widget.input_type == "radio" %}
  <div class="form-check">
  {% endif %}
  {% if field.use_fieldset %}
    <fieldset {% if field.help_text and field.auto_id and "aria-describedby" not in field.field.widget.attrs %} aria-describedby="{{ field.auto_id }}_helptext"{% endif %}>
      {% if field.label %}{{ field.legend_tag }}{% endif %}
    {% else %}
      {% if field.label and field.field.widget.input_type != "checkbox" %}
        <label class="form-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
      {% endif %}
    {% endif %}
    {{ field }}
    {% if field.label %}
      {% if field.field.widget.input_type == "checkbox" or field.field.widget.input_type == "radio" %}
        <label class="form-check-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
      {% endif %}
    {% endif %}
    {% if field.help_text %}
      <div class="form-text"
           {% if field.auto_id %}id="{{ field.auto_id }}_helptext"{% endif %}>{{ field.help_text|safe }}</div>
    {% endif %}
    {% if field.errors %}<div class="invalid-feedback">{{ field.errors }}</div>{% endif %}
    {% if field.use_fieldset %}</fieldset>{% endif %}
  {% if field.field.widget.input_type == "checkbox" or field.field.widget.input_type == "radio" %}</div>{% endif %}
