{% load i18n %}
{% load utils %}

<div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 g-4 mt-0 mb-2">
  {% for event in object_list %}
    <div class="col">
      <a href="{% url "event_detail" pk=event.pk %}"
         class="link-underline link-underline-opacity-0">
        <div class="card h-100">
          {% with image=event.images.all.first %}
            {% if image.image_file %}
              {% with class="card-img-top object-fit-cover" %}
                {% include "seam/snippets/image.html" %}
              {% endwith %}
            {% endif %}
          {% endwith %}
          <div class="card-body">
            {% if not event.static_event and not event.has_ended %}
              <span class="float-end fs-6">{% include "seam/snippets/registration_status.html" %}</span>
            {% endif %}

            <h4 class="card-title">
              {{ event.title }}
              {% include "seam/snippets/event_visibility.html" %}
            </h4>
            <h6 class="card-subtitle mb-2 text-muted">{{ event.start|date }} - {{ event.end|date }}</h6>
            <p class="card-text">{{ event.text_description|truncatechars:250 }}</p>
          </div>
          <div class="card-footer">
            <div class="row">
              <div class="col px-1">
                <small class="text-muted"><i class="bi bi-geo me-2"></i>{% trans "Place" %}</small>
                <br>
                <small>{{ event.place|split:","|first }}</small>
              </div>
              {% if event.max_participants %}
                <div class="col px-1">
                  <small class="text-muted"><i class="bi bi-people-fill me-2"></i>{% trans "Persons" %}</small>
                  <br>
                  {# djlint: off #}
                <small>{% if event.show_attendance_count %}{{ event.get_attendance_count }}/{% endif %}{{ event.max_participants }}</small>
                  {# djlint: on #}
                </div>
              {% endif %}
              <div class="col px-1">
                <small class="text-muted"><i class="bi bi-cash-coin me-2"></i>{% trans "Expected price" %}</small>
                <br>
                <small>{{ event.price }}</small>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
  {% empty %}
    {% trans "There are no events." %}
  {% endfor %}
</div>
