{% load i18n %}
{% load utils %}

<div class="table-responsive mt-1">
  <table class="table align-middle">
    <thead>
      <tr>
        <th scope="col">{% trans "Title" %}</th>
        <th scope="col">{% trans "Start" %}</th>
        <th scope="col">{% trans "End" %}</th>
        <th scope="col">{% trans "Place" %}</th>
        <th scope="col">{% trans "Persons" %}</th>
        <th scope="col">{% trans "Price" %}</th>
        <th scope="col" class="text-center">{% trans "Registration" %}</th>
        <th scope="col">{% trans "Details" %}</th>
      </tr>
    </thead>
    <tbody>
      {% for event in object_list %}
        <tr>
          <td>
            {{ event.title }}
            {% include "seam/snippets/event_visibility.html" %}
          </td>
          <td>{{ event.start|datetify }}</td>
          <td>{{ event.end|datetify }}</td>
          <td>{{ event.place }}</td>
          {# djlint: off #}
          <td>{% if event.show_attendance_count %}{{ event.get_attendance_count }}/{% endif %}{{ event.max_participants|default:"-" }}</td>
          {# djlint: on #}
          <td>{{ event.price }}</td>
          <td class="text-center">{% include "seam/snippets/registration_status.html" %}</td>
          <td>
            <a href="{% url "event_detail" pk=event.pk %}">Link</a>
          </td>
        </tr>
      {% empty %}
        {% trans "There are no events." %}
      {% endfor %}
    </tbody>
  </table>
</div>
